<div class="header">
    <div class="logo">
        <a class="logo-link" href="/"></a>
    </div>
    <div class="help-center">
        <image class="help-icon" src="/images/help_icon.png"/>
    </div>
</div>
