:root {
    --selected-orange: #FF7F25;
    --image-background-orange: #FBAE19;
    --title-orange: #F05D24;
    --button-text-orange: #F99820;
    --boder-grey: #CCC;
    --white: #fff;
    --black: #000;
    --text-color: #5A5A5A
s}
