.main-body {
    width: 72%;
    min-width: 1140px;
    min-height: 750px;
    margin: 0 auto;
}

.beta-banner {
    position: relative;
    float: right;
    width: 15%;
    z-index: 10000;
}

body {
    overflow-x: hidden;
}

.beta-banner:after {
    content: " beta";
    position: absolute;
    width: 200%;
    margin-top: -40%;
    text-align: center;
    align-content: stretch;
    transform: rotate(45deg);
    background: orange;
    color: white;
    transform-origin: 0% 0%;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 1px 1px 1px grey;
}

.header {
    position: relative;
    height: 100px;
    width: 72%;
    min-width: 1140px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.logo, .help-center {
    display: inline-block;
}

a.logo-link {
    background: url("/images/sprites_1.png");
    position: absolute;
    width: 200px;
    height: 20px;
    left: 0px;
    top: 50px;
    background-position: 0 -262px;
}

.help-center{
    display: none;
    float: right;
    position: absolute;
    right: 0px;
    height: 100px;
}

.help-icon {
    position: absolute;
    display: inline-block;
    top: 40px;
    right: 0px;
    height: 52px;
    width: 52px;
    background-color: var(--image-background-orange);
}

.operation {
    display: block;
    color: var(--font-orange);
}

.footer {
    width: 100%;
    height: 32px;
    bottom: 0;
    clear: both;
    line-height: 32px;
    margin-bottom: 12px;
    margin-top: 20px;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.footer-panel {
    position: relative;
    width: 73%;
    margin: 0 auto;
}

a {
    color: #777;
}

.left-text, .right-text, .hosts, .licenses {
    display: inline-block;
}

.right-text {
    float: right;
}

.footer-tag {
    margin-right: 10px;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

.hosts {
    position: relative;
    float: right;
    width: 240px;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
    height: 33px;
}

.hosts > span {
    right: 50px;
    position: absolute;
}

.nectar {
    right: 25px;
    top: -20px;
    position: absolute;
    background-position: 0 -37px;
    width: 18px;
    height: 47px;
    background: url(/images/sprites_1.png);
}

.licenses > span {
    margin-right: 5px;
}

.btn-default:hover {
    color: var(--white);
    background-color: var(--selected-orange);
    background-position: 0px -40px;
    font-weight: normal;
    border: 1px solid var(--border-grey);
}
