.tests {
    width: 80%;
    margin: 0 auto;
}

#tests-table {
    width: 100%;
    margin: 0 auto;
}

th, td {
    border: 1px solid var(--boder-grey);
    padding: 5px 10px;
}

#tests-table.dataTable  thead  th, #tests-table.dataTable thead td, #tests-table.dataTable.no-footer
{
    border-bottom: none;
}

a.link {
     text-decoration: underline;
}

#tests-table_length {
    display: none;
}

#tests-table_filter {
    float: left;
    margin-bottom: 10px;
}

#tests-table_filter > label > input {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-grey);
    padding: 6px;
    border: 1px solid var(--boder-grey);
}
